In this notebook MIS data for 2018 is merged from different excel files and processed to create consolidated FINANCIALS dataframe for further visulaization

In [75]:
# Import Libraries
import glob
import pandas as pd

In [93]:
import warnings
warnings.filterwarnings('ignore')

In [76]:
# Later define as config variable for financial data
financials = ['# Cash&Carry Retail Stores','Revenues ($K)','COGS  ($K)','Gross Margins  ($K)','Logistics  ($K)',
                    'Net Margins  ($K)','Net Indirect Expenses  ($K)','    Salaries  ($K)','    Overheads  ($K)','EBITDA  ($K)',
                    'Change in working capital  ($K)','Finance Costs  ($K)','Net Flow (Burn)  ($K)','index']

In [77]:
def clean_data(df):
    '''
        This function drops unwanted columns, null value rows and 
        transposes the df for further processing.
    '''
    
    df.drop(labels=['KPI TYPE','REMARKS / COMMENTS'],axis=1,inplace=True)
    df.dropna(how='all',inplace=True)
    dfT = df.T
    dfT.columns = dfT.iloc[0]
    dfT = dfT.iloc[1:]
    dfT.reset_index(inplace=True)
    #dfT['month'] = [i.split(' ')[0] for i in dfT['index']]
    #dfT.drop(columns='index',inplace=True)
    dfT.reset_index(drop=True,inplace=True)
    return dfT

In [78]:
# Read all excel files in the given directory path
path = "data\MIS 2018"

filename = glob.glob(path + "\*.xlsx")
[i for i in filename]

['data\\MIS 2018\\MIS - August 2018.xlsx',
 'data\\MIS 2018\\MIS - December 2018.xlsx',
 'data\\MIS 2018\\MIS - October 2018.xlsx',
 'data\\MIS 2018\\MIS - September 2018.xlsx']

In [80]:
# Initialize empty df with column names to consolidate data from all excel files
dflong = pd.DataFrame(columns=financials)

# Loop to read all excel files and filter financial data
for file in filename[:4]:
   print("Reading file = ",file)
   df = pd.read_excel(file)
   # Remove unwanted columns and transpose data
   dfT = clean_data(df)
   # Filter Finance Data
   dfT = dfT.loc[:,financials]
   dflong = pd.concat([dflong,dfT],ignore_index=True,axis=0)

Reading file =  data\MIS 2018\MIS - August 2018.xlsx
Index(['# Cash&Carry Retail Stores', 'Revenues ($K)', 'COGS  ($K)',
       'Gross Margins  ($K)', 'Logistics  ($K)', 'Net Margins  ($K)',
       'Net Indirect Expenses  ($K)', '    Salaries  ($K)',
       '    Overheads  ($K)', 'EBITDA  ($K)',
       'Change in working capital  ($K)', 'Finance Costs  ($K)',
       'Net Flow (Burn)  ($K)', 'index'],
      dtype='object', name='PARAMETER')
Reading file =  data\MIS 2018\MIS - December 2018.xlsx
Index(['# Cash&Carry Retail Stores', 'Revenues ($K)', 'COGS  ($K)',
       'Gross Margins  ($K)', 'Logistics  ($K)', 'Net Margins  ($K)',
       'Net Indirect Expenses  ($K)', '    Salaries  ($K)',
       '    Overheads  ($K)', 'EBITDA  ($K)',
       'Change in working capital  ($K)', 'Finance Costs  ($K)',
       'Net Flow (Burn)  ($K)', 'index'],
      dtype='object', name='PARAMETER')
Reading file =  data\MIS 2018\MIS - October 2018.xlsx
Index(['# Cash&Carry Retail Stores', 'Revenues ($K)', 'COGS  ($K)',
       'Gross Margins  ($K)', 'Logistics  ($K)', 'Net Margins  ($K)',
       'Net Indirect Expenses  ($K)', '    Salaries  ($K)',
       '    Overheads  ($K)', 'EBITDA  ($K)',
       'Change in working capital  ($K)', 'Finance Costs  ($K)',
       'Net Flow (Burn)  ($K)', 'index'],
      dtype='object', name='PARAMETER')
Reading file =  data\MIS 2018\MIS - September 2018.xlsx
Index(['# Cash&Carry Retail Stores', 'Revenues ($K)', 'COGS  ($K)',
       'Gross Margins  ($K)', 'Logistics  ($K)', 'Net Margins  ($K)',
       'Net Indirect Expenses  ($K)', '    Salaries  ($K)',
       '    Overheads  ($K)', 'EBITDA  ($K)',
       'Change in working capital  ($K)', 'Finance Costs  ($K)',
       'Net Flow (Burn)  ($K)', 'index'],
      dtype='object', name='PARAMETER')

In [92]:
display(dflong)

,# Cash&Carry Retail Stores,Revenues ($K),COGS ($K),Gross Margins ($K),Logistics ($K),Net Margins ($K),Net Indirect Expenses ($K),Salaries ($K),Overheads ($K),EBITDA ($K),Change in working capital ($K),Finance Costs ($K),Net Flow (Burn) ($K),index
0,53,10.993646,-5.683662,5.309985,-3.190538,2.119446,-43.025662,-21.544554,-21.481108,-40.906215,-0.336508,-2.321031,-43.563754,JULY (BASELINE MONTH)
1,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST (MIS MONTH)
2,81,14.486538,-6.432023,8.054515,-3.852628,4.201888,-52.608585,-28.547692,-24.060892,-48.406697,0.898077,-2.321031,-49.829651,SEPTEMBER (TARGET MONTH)
3,108,20.792985,-12.030154,8.762831,-6.2748,2.488031,-54.949415,-30.156385,-24.793031,-52.461385,-4.373462,-2.321031,-59.155877,NOVEMBER\n(BASELINE MONTH)
4,127,30.336169,-21.256138,9.080031,-10.603338,-1.523308,-66.174,-35.519631,-30.654369,-67.697308,-9.957831,-2.321031,-79.976169,DECEMBER\n(MIS MONTH)
5,150,33.882353,-23.867511,10.014842,-11.080908,-1.066066,-62.327846,-35.519631,-26.808215,-63.393912,-3.546184,-2.321031,-69.261127,JANUARY\n(TARGET MONTH)
6,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER\n (BASELINE MONTH)
7,88,19.900877,-11.068354,8.832523,-5.248508,3.584015,-58.779492,-30.365769,-28.413723,-55.195477,0.1416,-2.321031,-57.374908,OCTOBER\n(MIS MONTH)
8,105,24.036923,-13.02,11.016923,-5.773358,5.243565,-64.4718,-32.211923,-32.259877,-59.228235,-1.729231,-2.321031,-63.278497,NOVEMBER \n(TARGET MONTH)
9,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST \n (BASELINE MONTH)
10,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER \n(MIS MONTH)
11,100,19.673077,-9.836538,9.836538,-3.637846,6.198692,-55.257508,-29.656892,-25.600615,-49.058815,-1.211538,-2.321031,-52.591385,OCTOBER \n(TARGET MONTH)

In [82]:
# Dropping the rows with Target Month in index column
newdf = dflong[ dflong['index'].str.contains('TARGET MONTH')==False ]
newdf

,# Cash&Carry Retail Stores,Revenues ($K),COGS ($K),Gross Margins ($K),Logistics ($K),Net Margins ($K),Net Indirect Expenses ($K),Salaries ($K),Overheads ($K),EBITDA ($K),Change in working capital ($K),Finance Costs ($K),Net Flow (Burn) ($K),index
0,53,10.993646,-5.683662,5.309985,-3.190538,2.119446,-43.025662,-21.544554,-21.481108,-40.906215,-0.336508,-2.321031,-43.563754,JULY (BASELINE MONTH)
1,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST (MIS MONTH)
3,108,20.792985,-12.030154,8.762831,-6.2748,2.488031,-54.949415,-30.156385,-24.793031,-52.461385,-4.373462,-2.321031,-59.155877,NOVEMBER\n(BASELINE MONTH)
4,127,30.336169,-21.256138,9.080031,-10.603338,-1.523308,-66.174,-35.519631,-30.654369,-67.697308,-9.957831,-2.321031,-79.976169,DECEMBER\n(MIS MONTH)
6,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER\n (BASELINE MONTH)
7,88,19.900877,-11.068354,8.832523,-5.248508,3.584015,-58.779492,-30.365769,-28.413723,-55.195477,0.1416,-2.321031,-57.374908,OCTOBER\n(MIS MONTH)
9,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST \n (BASELINE MONTH)
10,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER \n(MIS MONTH)

In [83]:
# Correcting the format of months
newdf['month'] = [i.split(' ')[0] for i in newdf['index']]
newdf

C:\Users\amrit\AppData\Local\Temp\ipykernel_5240\2522360063.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['month'] = [i.split(' ')[0] for i in newdf['index']]

,# Cash&Carry Retail Stores,Revenues ($K),COGS ($K),Gross Margins ($K),Logistics ($K),Net Margins ($K),Net Indirect Expenses ($K),Salaries ($K),Overheads ($K),EBITDA ($K),Change in working capital ($K),Finance Costs ($K),Net Flow (Burn) ($K),index,month
0,53,10.993646,-5.683662,5.309985,-3.190538,2.119446,-43.025662,-21.544554,-21.481108,-40.906215,-0.336508,-2.321031,-43.563754,JULY (BASELINE MONTH),JULY
1,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST (MIS MONTH),AUGUST
3,108,20.792985,-12.030154,8.762831,-6.2748,2.488031,-54.949415,-30.156385,-24.793031,-52.461385,-4.373462,-2.321031,-59.155877,NOVEMBER\n(BASELINE MONTH),NOVEMBER\n(BASELINE
4,127,30.336169,-21.256138,9.080031,-10.603338,-1.523308,-66.174,-35.519631,-30.654369,-67.697308,-9.957831,-2.321031,-79.976169,DECEMBER\n(MIS MONTH),DECEMBER\n(MIS
6,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER\n (BASELINE MONTH),SEPTEMBER\n
7,88,19.900877,-11.068354,8.832523,-5.248508,3.584015,-58.779492,-30.365769,-28.413723,-55.195477,0.1416,-2.321031,-57.374908,OCTOBER\n(MIS MONTH),OCTOBER\n(MIS
9,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST \n (BASELINE MONTH),AUGUST
10,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER \n(MIS MONTH),SEPTEMBER

In [84]:
# Correcting the format of months
newdf['month'] = [i.split('\n')[0] for i in newdf['month']]
newdf

C:\Users\amrit\AppData\Local\Temp\ipykernel_5240\1860540755.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['month'] = [i.split('\n')[0] for i in newdf['month']]

,# Cash&Carry Retail Stores,Revenues ($K),COGS ($K),Gross Margins ($K),Logistics ($K),Net Margins ($K),Net Indirect Expenses ($K),Salaries ($K),Overheads ($K),EBITDA ($K),Change in working capital ($K),Finance Costs ($K),Net Flow (Burn) ($K),index,month
0,53,10.993646,-5.683662,5.309985,-3.190538,2.119446,-43.025662,-21.544554,-21.481108,-40.906215,-0.336508,-2.321031,-43.563754,JULY (BASELINE MONTH),JULY
1,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST (MIS MONTH),AUGUST
3,108,20.792985,-12.030154,8.762831,-6.2748,2.488031,-54.949415,-30.156385,-24.793031,-52.461385,-4.373462,-2.321031,-59.155877,NOVEMBER\n(BASELINE MONTH),NOVEMBER
4,127,30.336169,-21.256138,9.080031,-10.603338,-1.523308,-66.174,-35.519631,-30.654369,-67.697308,-9.957831,-2.321031,-79.976169,DECEMBER\n(MIS MONTH),DECEMBER
6,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER\n (BASELINE MONTH),SEPTEMBER
7,88,19.900877,-11.068354,8.832523,-5.248508,3.584015,-58.779492,-30.365769,-28.413723,-55.195477,0.1416,-2.321031,-57.374908,OCTOBER\n(MIS MONTH),OCTOBER
9,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST \n (BASELINE MONTH),AUGUST
10,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER \n(MIS MONTH),SEPTEMBER

In [85]:
# Check for duplicates and drop them
newdf.drop_duplicates(subset=newdf.columns[:(len(newdf.columns)-2)],inplace=True)
newdf

C:\Users\amrit\AppData\Local\Temp\ipykernel_5240\82728929.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf.drop_duplicates(subset=newdf.columns[:(len(newdf.columns)-2)],inplace=True)

,# Cash&Carry Retail Stores,Revenues ($K),COGS ($K),Gross Margins ($K),Logistics ($K),Net Margins ($K),Net Indirect Expenses ($K),Salaries ($K),Overheads ($K),EBITDA ($K),Change in working capital ($K),Finance Costs ($K),Net Flow (Burn) ($K),index,month
0,53,10.993646,-5.683662,5.309985,-3.190538,2.119446,-43.025662,-21.544554,-21.481108,-40.906215,-0.336508,-2.321031,-43.563754,JULY (BASELINE MONTH),JULY
1,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST (MIS MONTH),AUGUST
3,108,20.792985,-12.030154,8.762831,-6.2748,2.488031,-54.949415,-30.156385,-24.793031,-52.461385,-4.373462,-2.321031,-59.155877,NOVEMBER\n(BASELINE MONTH),NOVEMBER
4,127,30.336169,-21.256138,9.080031,-10.603338,-1.523308,-66.174,-35.519631,-30.654369,-67.697308,-9.957831,-2.321031,-79.976169,DECEMBER\n(MIS MONTH),DECEMBER
6,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER\n (BASELINE MONTH),SEPTEMBER
7,88,19.900877,-11.068354,8.832523,-5.248508,3.584015,-58.779492,-30.365769,-28.413723,-55.195477,0.1416,-2.321031,-57.374908,OCTOBER\n(MIS MONTH),OCTOBER

In [86]:
# Convert month name to number
from datetime import datetime

newdf['month_number'] = [datetime.strptime(i, '%B').month for i in newdf.month]

C:\Users\amrit\AppData\Local\Temp\ipykernel_5240\2665377525.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['month_number'] = [datetime.strptime(i, '%B').month for i in newdf.month]

In [89]:
# Sort the df based on month number
newdf = newdf.sort_values(by=['month_number']).set_index('month_number',drop=True)
newdf

,# Cash&Carry Retail Stores,Revenues ($K),COGS ($K),Gross Margins ($K),Logistics ($K),Net Margins ($K),Net Indirect Expenses ($K),Salaries ($K),Overheads ($K),EBITDA ($K),Change in working capital ($K),Finance Costs ($K),Net Flow (Burn) ($K),index,month
month_number,,,,,,,,,,,,,,,
7,53,10.993646,-5.683662,5.309985,-3.190538,2.119446,-43.025662,-21.544554,-21.481108,-40.906215,-0.336508,-2.321031,-43.563754,JULY (BASELINE MONTH),JULY
8,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST (MIS MONTH),AUGUST
9,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER\n (BASELINE MONTH),SEPTEMBER
10,88,19.900877,-11.068354,8.832523,-5.248508,3.584015,-58.779492,-30.365769,-28.413723,-55.195477,0.1416,-2.321031,-57.374908,OCTOBER\n(MIS MONTH),OCTOBER
11,108,20.792985,-12.030154,8.762831,-6.2748,2.488031,-54.949415,-30.156385,-24.793031,-52.461385,-4.373462,-2.321031,-59.155877,NOVEMBER\n(BASELINE MONTH),NOVEMBER
12,127,30.336169,-21.256138,9.080031,-10.603338,-1.523308,-66.174,-35.519631,-30.654369,-67.697308,-9.957831,-2.321031,-79.976169,DECEMBER\n(MIS MONTH),DECEMBER

In [90]:
# Drop index column to create final finance dataframe
finance_df = newdf.drop(columns='index')
finance_df

,# Cash&Carry Retail Stores,Revenues ($K),COGS ($K),Gross Margins ($K),Logistics ($K),Net Margins ($K),Net Indirect Expenses ($K),Salaries ($K),Overheads ($K),EBITDA ($K),Change in working capital ($K),Finance Costs ($K),Net Flow (Burn) ($K),month
month_number,,,,,,,,,,,,,,
7,53,10.993646,-5.683662,5.309985,-3.190538,2.119446,-43.025662,-21.544554,-21.481108,-40.906215,-0.336508,-2.321031,-43.563754,JULY
8,61,11.084431,-5.512785,5.571646,-3.210523,2.361123,-49.070123,-25.009231,-24.060892,-46.709,-1.584662,-2.321031,-50.614692,AUGUST
9,72,14.8718,-7.323431,7.548369,-3.031538,4.516831,-63.719046,-30.887662,-32.831385,-59.202215,-3.4084,-2.321031,-64.931646,SEPTEMBER
10,88,19.900877,-11.068354,8.832523,-5.248508,3.584015,-58.779492,-30.365769,-28.413723,-55.195477,0.1416,-2.321031,-57.374908,OCTOBER
11,108,20.792985,-12.030154,8.762831,-6.2748,2.488031,-54.949415,-30.156385,-24.793031,-52.461385,-4.373462,-2.321031,-59.155877,NOVEMBER
12,127,30.336169,-21.256138,9.080031,-10.603338,-1.523308,-66.174,-35.519631,-30.654369,-67.697308,-9.957831,-2.321031,-79.976169,DECEMBER

In [91]:
# Save the dataset locally
finance_df.to_csv('data/MIS 2018/finance_df.csv')